



<button (click)="Gotoregister()" type="button" class="btn btn-primary">Add new record</button>


<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>No</th> <th>Name</th> <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{emp.no}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.address}}</td>
        <td>
          
          <button  routerLink="/edit/{{emp.no}}" type="button" class="btn btn-primary">edit</button>
        
        </td>
        <td>
        <button type="button"(click)="Delete(emp.no)" class="btn btn-warning">Delete</button>
      </td>
      </tr>
    </tbody>
  </table>
</div>



